Source: tinyca
Section: utils
Priority: optional
Maintainer: Christoph Ulrich Scholler <scholler@fnb.tu-darmstadt.de>
Build-Depends-Indep: gettext
Build-Depends: debhelper (>> 7.0.0)
Standards-Version: 3.8.3
Homepage: http://tinyca.sm-zone.net/

Package: tinyca
Architecture: all
Depends: libgtk2-perl, liblocale-gettext-perl, openssl (>> 0.9.7e), ${misc:Depends}
Recommends: zip
Description: simple graphical program for certification authority management
 TinyCA is a program with a simple graphical user interface that makes
 managing a small CA (Certification Authority) easy.  TinyCA works as
 a frontend for openssl and can deal with several independent CAs.
 .
 With TinyCA you can create and manage x509 and S/MIME server and
 client certificates.  You can choose between RSA and DSA keys, as
 well as between different digest algorithms.
 .
 The certificates can be exported as PEM, DER, TXT and PKCS#12 or as a
 convenient archive containing both key and certificate.  Certificates
 can be revoked by adding them to a certificate revocation list.
